@model Tuple<List<MyMasterOrange.Models.category>, List<MyMasterOrange.Models.product>>

@{
    ViewBag.Title = "Homess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Homess</h2>

@Model.Item2

