
@{
    ViewBag.Title = "singleproductr";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>singleproductr</h2>

@model MyMasterOrange.Models.product

<h1>@Model.product_name</h1>
<p>Category: @Model.category.category_name</p>
