@model Tuple<List<MyMasterOrange.Models.category>, List<MyMasterOrange.Models.product>>

@{
    ViewBag.Title = "singleproduct1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>singleproduct1</h2>

@Model.Item1.